<module>
  <rawname>vizier</rawname>
  <repo>unsupported</repo>
  <name>Vizier</name>
  <version>0.0.1</version>
  <publisher>ACM</publisher>
  <license>GPLv3+</license>
  <licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<updateurl>https://modules.volchko.xyz/dpviz/module.json</updateurl>
  <category>Development</category>
  <description>Experimental fork of Dial Plan Visualizer</description>
	<menuitems>
		<vizier>Vizier</vizier>
  </menuitems>
	
  
	<changelog>
		*0.0.1* Initial fork created, files modified to differentiate Vizier from DPViz
	</changelog>
	<depends>
		<module>recordings</module>
		<module>soundlang</module>
		<phpversion>5.3.0</phpversion>
	</depends>
  <info>https://github.com/madgen78/dpviz</info>
  <supported>
    <version>17.0</version>
  </supported>
</module>
